.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.homepage {
    display: none;
}

body {
    background-color: #000;
    background-image: url('Category/Universe/image/STScI-01EVT1G3J6YPTWV2D9HBHFJ9FZ.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image {
    width: 500px;
    min-height: 500px;
    object-fit: cover;
    border: none;
    animation: bounceAnimation 1s ease-in;
    transform-style: preserve-3d;
    transform: translateZ(0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translateZ(0);
    animation: floatingAnimation 5s infinite ease-in-out alternate;
}


@keyframes floatingAnimation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 20px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}